// Color Variables
$color-black-transparent: rgba(0, 0, 0, 0.7);
$color-green: #2b7972;
$color-pink: #e07de4;
$color-dark-green: #253634;

// Font Variables
$body-font: "Open Sans", sans-serif;
$header-font: "Montserrat", sans-serif;

// Bootstrap Breakpoint Variables
$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;

*::before, *, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $body-font;
}

h3, h4, h5 {
    font-family: $header-font;
    font-weight: bolder;
}

.aboutWendy {
    background-color: $color-green;
    justify-content: center;
    img {
        max-width: 400px;
    }
    p {
        max-width: 600px;
    }
}

.articleSnippet {
    font-size: small;
}

.blogArticle {
    overflow: hidden;
    margin-top: 3rem;
    max-width: 600px;
}

.blogInlinePhoto {
    max-width: 400px;
}

.breadcrumb-item {
    a {
        color: $color-pink;
    }
}

.carousel-caption {
    background-color: $color-black-transparent;
}

.featuredArticle {
    background-color: $color-green;
}

.footerInfo {
    background-color: $color-pink;
    a {
        color: white;
        text-decoration: underline;
    }
    a:active {
        color: black;
    }
    p {
        color: white;
        font-weight: bold;
        font-size: small;
    }
}

.gallery {
    justify-content: center;
    .btn {
        align-self: center;
        position: absolute;
        z-index: 999;
        background-color: $color-black-transparent;
        border: none;
        color: white;
        font-weight: bolder;
    }
    .btn:active {
        background-color: black;
    }
}

.galleryPic {
    padding: 0;
}

.navbar {
    background-color: $color-green;
}

.navbtn {
    position: relative;
}

.navbtn:focus {
    box-shadow: none;
}

.productItem {
    a {
        color: black;
    }
}

.productName {
    font-weight: bolder;
}

.productPicture {
    border-radius: 10%;
}

.readMoreLink {
    color: $color-pink;
    font-weight: bolder;
    font-size: small;
}

.socialFooter {
    min-height: 70px;
    .btn-social-icon {
        margin: 0 1rem;
        border-radius: 50%;
        padding: 1.2rem;
        i {
            margin-top: 0.2rem;
            position: absolute;
        }
    }
}

#copyrightStatement {
    font-weight: lighter;
    font-size: x-small;
}

#customDisclaimer {
    font-size: smaller;
}

#featuredArticleBody {
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    p {
        margin-bottom: 0.2rem;
    }
}

#galleryModal {
    .modal-header {
        padding: 1rem 1.5rem;
        .close {
            font-size: 2rem;
        }
    }
}

#homeArticleShort {
    font-size: small;
    color: white;
}

#homeArticleText {
    font-size: small;
    color: white;
    display: none;
}

#homeArticleTitle {
    color: white;
    font-weight: bold;
}

#loginButton {
    background-color: $color-pink;
    border: none;
    z-index: 999;
    a {
        color: $color-dark-green;        
    }
}

#loginModal {
    .modal-header {
        background-color: $color-pink;
        color: $color-dark-green;
    }
}

#navLogo {
    max-width: 125px;
    position: relative;
}

#navSearchBtn {
    z-index: 999;
    i {
        color: $color-dark-green;
    }
}

#productDisclaimer {
    font-size: smaller;
}

#productQuantity {
    border: $color-dark-green solid 0.2px;
    height: 2rem;
}

#storeShortcut {
    text-align: center;
    text-justify: center;
    background-color: $color-pink;
    color: $color-dark-green;
    padding: 0.75rem;
}

@media only screen and (max-width: 340px) {
    #homeArticleShort {
        display: none;
    }
}

@media only screen and (min-width: $bootstrap-sm) {
    #featuredArticleBody {
        margin-right: 2rem;
    }
    
    #homeArticleShort {
        display: none;
    }

    #homeArticleText {
        display: block;
    }

    #navLogo {
        max-width: 150px;
    }
}

@media only screen and (min-width: $bootstrap-md) {
    .featuredArticle.img {
        max-height: 200px;
    }

    #navLogo {
        max-width: 175px;
    }
}

@media only screen and (min-width: $bootstrap-lg) {
    .socialFooter {
        .btn-social-icon {
            margin: 0 2rem;
        }
    }
    
    #featuredArticleBody {
        margin-right: 2rem;
    }

    #navLogo {
        max-width: 200px;
    }
}

@media only screen and (min-width: $bootstrap-xl) {
    #navLogo {
        max-width: 225px;
    }
}