*::before, *, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif; }

h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder; }

.aboutWendy {
  background-color: #2b7972;
  justify-content: center; }
  .aboutWendy img {
    max-width: 400px; }
  .aboutWendy p {
    max-width: 600px; }

.articleSnippet {
  font-size: small; }

.blogArticle {
  overflow: hidden;
  margin-top: 3rem;
  max-width: 600px; }

.blogInlinePhoto {
  max-width: 400px; }

.breadcrumb-item a {
  color: #e07de4; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7); }

.featuredArticle {
  background-color: #2b7972; }

.footerInfo {
  background-color: #e07de4; }
  .footerInfo a {
    color: white;
    text-decoration: underline; }
  .footerInfo a:active {
    color: black; }
  .footerInfo p {
    color: white;
    font-weight: bold;
    font-size: small; }

.gallery {
  justify-content: center; }
  .gallery .btn {
    align-self: center;
    position: absolute;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    color: white;
    font-weight: bolder; }
  .gallery .btn:active {
    background-color: black; }

.galleryPic {
  padding: 0; }

.navbar {
  background-color: #2b7972; }

.navbtn {
  position: relative; }

.navbtn:focus {
  box-shadow: none; }

.productItem a {
  color: black; }

.productName {
  font-weight: bolder; }

.productPicture {
  border-radius: 10%; }

.readMoreLink {
  color: #e07de4;
  font-weight: bolder;
  font-size: small; }

.socialFooter {
  min-height: 70px; }
  .socialFooter .btn-social-icon {
    margin: 0 1rem;
    border-radius: 50%;
    padding: 1.2rem; }
    .socialFooter .btn-social-icon i {
      margin-top: 0.2rem;
      position: absolute; }

#copyrightStatement {
  font-weight: lighter;
  font-size: x-small; }

#customDisclaimer {
  font-size: smaller; }

#featuredArticleBody {
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem; }
  #featuredArticleBody p {
    margin-bottom: 0.2rem; }

#galleryModal .modal-header {
  padding: 1rem 1.5rem; }
  #galleryModal .modal-header .close {
    font-size: 2rem; }

#homeArticleShort {
  font-size: small;
  color: white; }

#homeArticleText {
  font-size: small;
  color: white;
  display: none; }

#homeArticleTitle {
  color: white;
  font-weight: bold; }

#loginButton {
  background-color: #e07de4;
  border: none;
  z-index: 999; }
  #loginButton a {
    color: #253634; }

#loginModal .modal-header {
  background-color: #e07de4;
  color: #253634; }

#navLogo {
  max-width: 125px;
  position: relative; }

#navSearchBtn {
  z-index: 999; }
  #navSearchBtn i {
    color: #253634; }

#productDisclaimer {
  font-size: smaller; }

#productQuantity {
  border: #253634 solid 0.2px;
  height: 2rem; }

#storeShortcut {
  text-align: center;
  text-justify: center;
  background-color: #e07de4;
  color: #253634;
  padding: 0.75rem; }

@media only screen and (max-width: 340px) {
  #homeArticleShort {
    display: none; } }

@media only screen and (min-width: 576px) {
  #featuredArticleBody {
    margin-right: 2rem; }
  #homeArticleShort {
    display: none; }
  #homeArticleText {
    display: block; }
  #navLogo {
    max-width: 150px; } }

@media only screen and (min-width: 768px) {
  .featuredArticle.img {
    max-height: 200px; }
  #navLogo {
    max-width: 175px; } }

@media only screen and (min-width: 992px) {
  .socialFooter .btn-social-icon {
    margin: 0 2rem; }
  #featuredArticleBody {
    margin-right: 2rem; }
  #navLogo {
    max-width: 200px; } }

@media only screen and (min-width: 1200px) {
  #navLogo {
    max-width: 225px; } }
